---
import Carousel from "../components/Carousel.astro";
import Gallery from "../components/Gallery.astro";
import FlagDivider from "../components/FlagDivider.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import CarTabs from "../components/CarTabs.astro";
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";
import Stats from "../components/Stats.astro";

// Partners data
import partners from "../assets/partners.json";
// Car components data
import carComponents from "../assets/carComponents.json";
---

<Layout id={Astro.self.name}>
  <Hero/>

  <FlagDivider />

  <Section id="partners-principal" className="container mx-auto px-4 mt-15">
    <div class="flex w-full flex-col lg:flex-row">
      <div class="w-full lg:3/4 flex flex-col justify-center items-center">
        <Gallery
          items={partners.filter((partner) => partner.principal === true)}
          size={40}
          units={4}
        />
      </div>
      <div class="divider lg:divider-horizontal"></div>
      <Card className="w-full lg:1/4 bg-base-300 card-xl shadow-sm">
        <Stats />
      </Card>
    </div>
  </Section>

  <Section id="team" className="container mx-auto px-4 mt-15">
    <div class="flex w-full flex-col lg:flex-row">
      <Card
        title="Canarias Racing Team"
        subtitle="El primer equipo de Fórmula Student de Canarias"
        className="w-full lg:w-2/3 bg-base-300 card-xl shadow-sm"
        buttons={[
          {
            text: "Únete",
            href: "#contact",
          },
        ]}
        paragraphs={[
          "Canarias Racing Team es el equipo automovilístico de la Universidad de La Laguna. Desafiando fronteras hemos conseguido ser los primeros en representar a las ocho islas canarias en la FS, la máxima competición estudiantil dentro del mundo del motor. Lo hemos logrado con un monoplaza eléctrico capaz de sortear cualquier distancia, incluida la que nos separa de la península ibérica.",
          "La resiliencia y el coraje son rasgos propios de nuestra formación, sin miedo a los obstáculos de la geografía. Un equipo absolutamente interdisciplinar, cuyo corazón es la ingeniería, pero con la comunicación y las finanzas como arterias. Soñamos con que la innovación automovilística canaria consiga acelerar el futuro y el corremos hacia el éxito inspirados por la pasión y la determinación. Crecemos gracias a aquellos que nos hacen grandes: todos los que creen que lo pequeño puede llegar a ser gigante.",
        ]}
      />
      <div class="divider lg:divider-horizontal"></div>
      <div class="w-full lg:w-1/3 flex flex-col justify-center items-center">
        <Carousel items={partners} units={4} id="team-carousel" />
      </div>
    </div>
  </Section>

  <Section id="car" className="container mx-auto px-4 mt-15">
    <div class="flex w-full flex-col lg:flex-row">
      <Card
        title="El Coche"
        subtitle="Un coche único, para unas islas únicas."
        className="w-full lg:w-1/3 bg-base-300 card-xl shadow-sm"
        paragraphs={[
          "Nuestro coche es el resultado de meses de trabajo duro y dedicación. Con un diseño innovador y tecnología de vanguardia, estamos listos para competir en la Fórmula Student.",
        ]}
      />
      <div class="divider lg:divider-horizontal"></div>
      <div class="w-full lg:w-2/3 flex flex-col items-center justify-center">
        <CarTabs carComponents={carComponents} id="car-components" />
      </div>
    </div>
  </Section>

  <!-- <SectionSample
    title="La Competición"
    id="the-competition"
    link={{ href: "/competition", text: "Más información" }}
  >
    <p>
      La Fórmula Student es una competición internacional que desafía a los
      estudiantes a diseñar, construir y competir con un monoplaza eléctrico.
      Conoce más sobre la competición y cómo nos preparamos para el desafío.
    </p>
  </SectionSample> -->

  <Section id="partners" className="container mx-auto px-4 mt-15">
    <div class="flex w-full flex-col lg:flex-row">
      <Card
        className="w-full lg:w-2/4 bg-base-300 card-xl shadow-sm"
        title="¡Hazte parte del equipo!"
        subtitle="Apóyanos y forma parte de Canarias Racing Team"
        paragraphs={[
          "Tu apoyo es fundamental para que podamos seguir adelante. Si quieres unirte a nosotros como patrocinador o simplemente apoyarnos, aquí tienes algunas formas de hacerlo.",
          "Puedes contactarnos directamente a través de nuestro correo electrónico o seguirnos en nuestras redes sociales para estar al tanto de nuestras novedades.",
        ]}
        buttonsVertical="true"
        buttons={[
          {
            text: "Visita nuestro Patreon",
            icon: "mdi:patreon",
            href: "https://www.patreon.com/",
          },
          {
            text: "Donar por PayPal",
            icon: "mdi:paypal",
            href: "https://www.paypal.com/",
          },
          {
            text: "Contactar para Patrocinio",
            icon: "mdi:email",
            href: "mailto:info@canariasracingteam.com",
          },
        ]}
      >
        <!-- <div class="mt-6">
          <Stats />
        </div> -->
      </Card>
      <div class="divider lg:divider-horizontal"></div>
      <div class="w-full lg:w-2/4 flex flex-col justify-center items-center">
        <Gallery items={partners} size={25} units={12} />
      </div>
    </div>
  </Section>

  <FlagDivider class="mt-10" />
</Layout>
