---
const { letter = "D", size = 24 } = Astro.props;
---

<div id={Astro.self.name} class="avatar avatar-placeholder">
  <div class=`bg-neutral text-neutral-content w-${size} rounded-full`>
    <span class="text-3xl">{letter}</span>
  </div>
</div>
