---
import { Image } from "astro:assets";
import type { ImageEntry } from "@types";

const { items = [], className = "" } = Astro.props;

const resolvedItems =
  items.length > 0
    ? await Promise.all(
        items.map(async (item: ImageEntry) => ({
          alt: item.alt,
          src: await item.src(),
        }))
      )
    : [];
---

<div
  class={`grid grid-cols-5 gap-0 w-full h-full max-h-full overflow-hidden items-center ${className}`}
>
  {
    resolvedItems.map((item) => (
      <div class="flex items-center justify-center h-full max-h-full p-2 overflow-hidden">
        <Image
          src={item.src}
          alt={item.alt}
          inferSize={true}
          loading="lazy"
          class="max-w-full max-h-full object-contain filter grayscale invert hover:grayscale-0 hover:invert-0 transition-all duration-300"
        />
      </div>
    ))
  }
</div>
