---
const buttons = [
  {
    text: "Quiero Patrocinar",
    href: "#partners",
  },
  {
    text: "Únete al Equipo",
    href: "#contact",
  },
];
---

<div
  id={Astro.self.name}
  class="hero min-h-screen relative"
  style="
    background-image:
      radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 80%),
      url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-2xl rounded-xl p-8">
      <h1
        class="mb-8 text-6xl font-extrabold drop-shadow-lg w-full flex justify-center items-center"
      >
        <div class="flex items-center justify-center gap-6">
          <div class="text-right">
            <span class="text-white">OCHO</span><br />
            <span class="text-secondary">TRES</span>
          </div>
          <div class="text-left w-1/2">
            <span class="text-outline-white">ISLAS</span>
            <span class="text-outline-primary">COLORES</span>
          </div>
        </div>
      </h1>
      <p class="mb-5 text-2xl">1º Equipo de Fórmula Student de Canarias</p>
      <div id="buttons" class="join mt-5 gap-2">
        {
          buttons.map((button) => (
            <a
              href={button.href}
              class="btn btn-primary join-item btn-xl shadow"
              role="button"
            >
              {button.text}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
