---
import Buttons from "./Buttons.astro";

const buttons = [
  {
    text: "Quiero Patrocinar",
    href: "#partners",
    icon: "mdi:account-multiple-plus",
  },
  {
    text: "Únete al Equipo",
    href: "#team",
    icon: "mdi:account-plus",
  },
];
---

<div
  id={Astro.self.name}
  class="hero min-h-screen relative"
  style="
    background-image:
      radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 80%),
      url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-70"></div>
  <div
    class="hero-content text-neutral-content text-center flex flex-col items-center justify-evenly"
  >
    <h1
      class="mb-5 md:mb-6 text-4xl md:text-6xl lg:text-8xl font-extrabold drop-shadow-lg w-full flex justify-center items-center"
    >
      <div class="flex items-center justify-center gap-2 w-full">
        <div class="text-right">
          <span class="text-white">OCHO</span><br />
          <span class="text-secondary">TRES</span>
        </div>
        <div class="text-left w-1/2">
          <span class="text-outline-white">ISLAS</span>
          <span class="text-outline-primary">COLORES</span>
        </div>
      </div>
    </h1>
    <div id="subtitle" class="flex flex-col items-center">
      <p class="text-lg md:text-2xl">
        1º Equipo de Fórmula Student de Canarias
      </p>
      <Buttons
        buttons={buttons}
        buttonClass="join-item btn btn-primary btn-md md:btn-xl"
        className="join join-vertical md:join-horizontal mt-5 md:mt-6"
      />
    </div>
  </div>
</div>
