---
import Buttons from "./Buttons.astro";
import helmetBg from "@assets/fotos/red_pilot-black_bg.jpg";

const buttons = [
  {
    text: "Quiero Patrocinar",
    href: "#partners",
    icon: "mdi:account-multiple-plus",
  },
  {
    text: "Únete al Equipo",
    href: "#team",
    icon: "mdi:account-plus",
  },
];
---

<section
  class="hero min-h-screen relative flex flex-col items-center justify-center text-center text-neutral-content"
  style={`
    background: radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 80%), url('${helmetBg.src}');
    background-size: cover;
    background-position: center;
    background-color: #23272b;
  `}
>
  <div class="hero-overlay bg-opacity-70 absolute inset-0"></div>
  <div class="w-full flex justify-center">
    <h1
      class="text-4xl md:text-6xl lg:text-8xl max-w-[814.2px] min-w-[315px] z-10"
    >
      <span class="grid w-full place-items-center gap-x-2 md:gap-x-4 font-black tracking-wider leading-none">
        <span
          class="text-white col-start-1 row-start-1 text-right w-full"
          >OCHO</span
        >
        <span
          class="text-outline-white col-start-2 row-start-1 text-left w-full"
          >ISLAS</span
        >
        <span
          class="text-secondary col-start-1 row-start-2 text-right w-full"
          >TRES</span
        >
        <span
          class="text-outline-primary col-start-2 row-start-2 text-left w-full"
          >COLORES</span
        >
      </span>
    </h1>
  </div>
  <div id="subtitle" class="flex flex-col items-center z-10 mt-4">
    <p class="text-md md:text-2xl">1º Equipo de Fórmula Student de Canarias</p>
    <Buttons
      buttons={buttons}
      buttonClass="btn btn-primary btn-sm md:btn-lg"
      className="md:join-horizontal mt-5 md:mt-6"
    />
  </div>
</section>

<style>
  .hero-title-grid {
    grid-template-columns: repeat(2, max-content);
    gap: 0.05em 0.2em;
  }
</style>
