---
const buttons = [
  {
    text: "Quiero Patrocinar",
    href: "#partners-bottom",
  },
  {
    text: "Únete al Equipo",
    href: "#contact",
  },
];
---

<div
  id={Astro.self.name}
  class="hero min-h-screen relative"
  style="
    background-image:
      radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 80%),
      url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-2xl rounded-xl p-8">
      <h1 class="mb-5 text-6xl font-extrabold drop-shadow-lg">
        Ocho Islas<br /><span class="text-primary">Tres Colores</span>
      </h1>
      <p class="mb-5 text-2xl">1º Equipo de Fórmula Student de Canarias</p>
      <div id="buttons" class="join mt-5 gap-2">
        {
          buttons.map((button) => (
            <a
              href={button.href}
              class="btn btn-primary join-item btn-xl shadow"
              role="button"
            >
              {button.text}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
