---
const currentPath = new URL(Astro.request.url).pathname;
const nabItem = [
  { name: "El Coche", href: "/#car" },
  { name: "Noticias", href: "/news", span: "99+" },
  { name: "Contacto", href: "/contact" },
];
---

<div
  id="navbar"
  class="navbar bg-transparent transition-colors duration-300 fixed top-0 left-0 w-full z-50 mx-auto px-4 md:px-8 lg:px-16 xl:px-24 2xl:px-32"
>
  <!-- Transparente por defecto y si hay scroll opaco -->
  <script type="text/javascript" is:inline>
    document.addEventListener("DOMContentLoaded", function () {
      const navbar = document.getElementById("navbar");
      function handleScroll() {
        if (window.scrollY > 10) {
          navbar.classList.remove("bg-transparent");
          navbar.classList.add("bg-base-100", "bg-opacity-90", "backdrop-blur", "navbar-gradient");
        } else {
          navbar.classList.add("bg-transparent");
          navbar.classList.remove(
            "bg-base-100",
            "bg-opacity-90",
            "backdrop-blur",
            "navbar-gradient"
          );
        }
      }
      window.addEventListener("scroll", handleScroll);
      handleScroll();
    });
  </script>

  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">[CRTeam Logo]</a>
  </div>
  <div class="flex-none">
    <div role="tablist" class="tabs tabs-border py-2">
      {
        nabItem.map((item) => (
          <a
            role="tab"
            class={`text-lg tab${currentPath === item.href ? " tab-active" : ""}`}
            href={item.href}
          >
            {item.name}
            {item.span && (
              <span
                class={`indicator-item badge ml-2 badge-${
                  currentPath === item.href ? "secondary" : "ghost"
                }`}
              >
                {item.span}
              </span>
            )}
          </a>
        ))
      }
    </div>
  </div>
</div>
