---
import type { StatType } from "@types";
const {
  stats = [
    { title: "Patrocinadores", value: "12", desc: "Jan 1st - Feb 1st" },
    { title: "Colaboradores", value: "4,200", desc: "↗︎ 400 (22%)" },
    // { title: "New Registers", value: "1,200", desc: "↘︎ 90 (14%)" },
  ],
}: { stats?: StatType[] } = Astro.props;
---

<div class="stats stats-xl shadow">
  {
    stats.map((stat) => (
      <div class="stat stats-vertical lg:stats-horizontal shadow">
        <div class="stat-title">{stat.title}</div>
        <div class="stat-value">{stat.value}</div>
        {stat.desc && <div class="stat-desc">{stat.desc}</div>}
      </div>
    ))
  }
</div>
