---
import Card from "./Card.astro";
import type { StatType } from "@types";

const {
  stats = [
    { title: "Islas", value: "8" },
    { title: "Colores", value: "3", color: "secondary" },
    { title: "Coche", value: "1", color: "primary" },
  ],
  className,
}: { stats?: StatType[]; className?: string } = Astro.props;
---

<Card className={`${className || ""}`}>
  <div class="flex flex-row justify-evenly items-center h-full">
    {
      stats.map((stat) => (
        <div class="flex-1 flex flex-col items-center justify-center text-center">
          <div class="text-xl font-medium text-base-content">{stat.title}</div>
          <div
            class={`text-4xl font-bold ${stat.color ? `text-${stat.color}` : "text-base-content"}`}
          >
            {stat.value}
          </div>
          {stat.desc && (
            <div class="text-sm text-base-content/70">{stat.desc}</div>
          )}
        </div>
      ))
    }
  </div>
</Card>
