---
import type { StatType } from "@types";
const {
  stats = [
    // { title: "Patrocinadores", value: "12"},
    { title: "Islas", value: "8" },
    { title: "Colores", value: "3", color: "secondary" },
    { title: "Coche", value: "1", color: "primary" },
  ],
}: { stats?: StatType[] } = Astro.props;
---

<div class="stats w-full stats-horizontal bg-base-300 shadow-sm">
  {
    stats.map((stat) => (
      <div class="stat place-items-center">
        <div class="stat-title text-xl">{stat.title}</div>
        <div class={`stat-value text-${stat.color}`}>{stat.value}</div>
        {stat.desc && <div class="stat-desc text-xl">{stat.desc}</div>}
      </div>
    ))
  }
</div>
