@import "tailwindcss";

[data-theme="forest"] {
  --color-base-100: #000000;
  --color-base-100-rgb: 0, 0, 0;
  --color-base-300: #1e1e1e;
  --color-base-300-rgb: 30, 30, 30;
  --color-primary: #ffcb03;
  --color-secondary: #0468a9;
  --color-base-content: #ffffff;
}

.hero-overlay {
  background-color: color-mix(in oklab, var(--color-base-100)50%, transparent);
}

.stat {
  overflow: hidden;
  width: fit-content;
}

.stats-horizontal {
  & .stat:not(:last-child) {
    border-inline-end: none;
    border-block-end: none
  }
}

.stats-vertical {
  & .stat:not(:last-child) {
    border-inline-end: none;
    border-block-end: none
  }
}

p {
  text-align: justify;
}

[id] {
  scroll-margin-top: 8rem;
  /* Ajusta según la altura real del navbar */
}

/* Para "ISLAS" */
.text-outline-white {
  color: transparent;
  /* Hace el relleno del texto transparente */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

/* Para "COLORES" */
.text-outline-primary {
  color: transparent;
  /* Hace el relleno del texto transparente */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-primary);
  /* Usa tu variable CSS para el amarillo */
}